- var repeats = 200
doctype 5
html
	head
		title Topcoat progress bar
		link(rel='stylesheet', type='text/css', href='../../release/css/topcoat-progress-bar.min.css')
	body
		- while (repeats > 0)
			- var repeats = repeats - 1