/*
	Progress bar container
*/
var-bar-border-radius   = 12px
var-bar-bg-color 		= #d3d7d7
var-bar-box-shadow		= 0 1px rgba(255, 255, 255, 0.25), inset 0 1px rgba(0, 0, 0, 0.12)

/*
	Progress bar progress
*/
var-progress-border-radius = 12px 0 0 12px
var-progress-bg-color	   = #e0f0fa
var-progress-box-shadow	   = inset 0 1px rgba(0, 0, 0, 0.12)