@import progress-mixin

/*
Progress bar
-------------------

  <div class='topcoat-progress-bar'>
    <span class='progress' style='width:40%'></span>
  </div>

*/

.topcoat-progress-bar
  progress-bar-base()
  border-radius var-bar-border-radius
  background-color var-bar-bg-color
  box-shadow: var-bar-box-shadow

.topcoat-progress-bar > .progress
  progress-base()
  border-radius var-progress-border-radius
  background-color var-progress-bg-color
  box-shadow var-progress-box-shadow

.progress--complete
  width 100%